@import "./imports.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}

html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  background-color: none;
}

.round-btn {
  @include round-btn;
}

.h2__title {
  @include h2__title;
}
.h3__title {
  @include h3__title;
}

@import "./components/header.scss";
@import "./components/header-main.scss";
@import "./components/documents";
@import "./components/actions";
// *{
//   overflow: visible;
//   outline: solid 1px red;
// }
